body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
}

.btn-header {
    font-weight: bold;
    border-radius: 50px;
    padding: 7px 21px 7px 21px;
    margin-left: 15px;
    margin-right: -10px;
    background-color: #2a81ea;
    color: white;
}

.btn-header:hover {
    background-color: #1d5faf;
}

.texto-azul{
    color: #2a81ea;
}

.link-menu{
    text-decoration: none !important;
    color: #50658e;
    padding: 0px 18px;
    font-size: 0.95em;
    font-weight: 500;
}

.link-menu:hover {
    color: #2a81ea;
}

.padding-menu {
    padding-top: 30px;
}

.menu-monitor {
    display: none;
}

.menu-mobile {
    display: none;
}

.fa-bars {
    color: #50658e;
    font-size: 19px;
    margin-top: 10px;
}

.bg-corona-home{
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
    background-position: center;
    background-size: contain;
    height: 730px;
    margin-top: -90px;
    background-repeat: no-repeat;
}

.bg-corona-tratamento{
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-b.png);
    background-position: center;
    background-size: contain;
    margin-top: -90px;
    background-repeat: no-repeat;
}

.bg-menu-mobile{
    background-color: rgba(27,71,161,0.8);
}

.links-menu-mobile {
    padding: 32px 7px;
    width: 260px;
    height: 100%;
}

.fa-times {
    color: #50658e;
    background: rgba(255,255,255,0.8);
    width: 36px;
    border-radius: 100%;
    height: 36px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.btn-abrir-menu-mobile {
    display: block;
    cursor: pointer;
}

.pt-home{
    padding-top: 100px;
}

.titulo-home {
    font-family: 'Oswald', sans-serif;
    color:  #50658e;
    font-size: 4.5em;
    font-weight: 800;
    letter-spacing: -2px;
}

.titulo-sm-vermelho {
    color: #f86168;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
}

.titulo-sm-azul {    
    color: #50658e;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 2.6em;
    margin-top: -32px;
    letter-spacing: -3px;
}

.cor-descricao {
    color: #3D4B69;
}

.btn-home {
    border-radius: 50px;
    padding: 10px 30px 11px 30px;
    margin-top: 15px;
    background-color: #2a81ea;
    color: white;
    width: 195px;
}

.btn-home:hover {
    background-color: #1d5faf;
}

.btn-prevencao-azul {
    border-radius: 50px;
    padding: 10px 30px 11px 30px;
    background-color: #2a81ea;
    color: white;
    width: 280px;
    margin-top: 12px;
}

.h6-home {
    color: #7d92bb;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 55px;
    letter-spacing: 1px;
}

.numeros-home {
    color: #465675;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.7em;
    margin-top: -10px;
}

.horario-home {
    color: #7d92bb;
    font-size: 0.75em;
    margin-top: 20px;
}

.btn-about {
    padding-top: 25px;
}

.d1-home {
    order: 1;
}

.d2-home {
    order: 0;
    height: 445px;
}

.subtitulo-sections {
    margin-top: 90px;
    color: #2a81ea;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600;
}

.fonte-subtitulo-about {
    font-size: 1.1em !important;
}

.titulo-sections {
    color: #50658e;
    font-family: 'Oswald', sans-serif;
    font-size: 2.35em;
    font-weight: 700;
    margin-top: -7px;
}

.descricao-about-1 {
    font-size: 1.2em;
    color: #3d4b69;
    margin-top: 30px;
}

.descricao-sections {
    color: #3d4b69;
    font-size: 1em;
}

.titulo-card-about {
    font-size: 1.3em;
    color: #465675;
    margin-bottom: unset !important;
}

.texto-card-about {
    font-size: 1em;
    text-decoration: none !important;
    padding-left: 24px;
    color: #2a81ea !important;
}

.fa-arrow-right {
    font-size: 0.7em;
}

.posicao-arrow-tratamento{
    position: absolute;
    left: -17px;
    margin-top: 4px;
}

.decoration-none {
    text-decoration: none !important;
}

.list-group-item {
    padding: 18px 30px 18px 30px !important; 
}

.card-about {
    margin-left: 90px;
    margin-top: 105px;
    margin-bottom: 80px;
    width: 350px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%); 
}

.card-transmissao {
    border: unset !important;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%); 
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-news {
    border-radius: 3px;
    border: white;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%); 
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    padding: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
}

.borda-link {
    text-decoration: none !important;
    border-bottom: 1px solid #2a81ea;
}

.borda-link:hover {
    border-bottom: 0px solid ;
}

.borda-imagem-transmissao {
    border-bottom: 6px solid #9cc2f7;
    margin-top: -2px;
}

.titulo-card-transmissao {
    color: #2a81ea;
    letter-spacing: -0.5px;
    font-size: 1.25em;
}

.btn-sections {
    background-color: #2a81ea;
    padding: 11px 28px 11px 28px;
    border-radius: 50px;
    margin-bottom: 90px;
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
}

.btn-section:hover {
    background-color: #1d5faf !important;
}

.card-sintomas {
    width: auto;
    height: 218px;
    border: unset !important;
    position: relative;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%); 
    margin-top: 50px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
}

.imagem-sintomas {
    border-radius: 100%;
    position: absolute;
    height: 80px;
    right: 30px;
    top: -40px;
}

.fa-exclamation-triangle {
    position: absolute;
    color: #7fb3f2;
    font-size: 2.3em;
    top: 10px;
    left: 0px;
}

.imagem-prevencao {
    border-radius: 100%;
    height: 120px;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 15%);
    margin-bottom: 30px; 
}

.link-prevencao {
    text-align: left;
    margin-top: 23px;
    padding-left: 35px;
}

.check-prevencao {
    color: #3dca93;
    margin-right: 8px;
    font-size: 1em;
    position: absolute;
    left: 5px;
    margin-top: 3px;
}

.titulo-medidas-prevencao {
    color: #3d4b69;
    font-size: 1.8em;
    margin-left: -15px;
}

.box-medidas-prevencao {
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%); 
    padding: 40px;
    border-radius: 6px;
}
.imagem-medidas-prevencao {
    height: 440px;
}

.imagem-maos {
    border-radius: 100%;
    height: 100px;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 15%);
    margin-bottom: 15px;
    margin-top: 30px;
}

.bg-section-tratamento {
    background-color: #2766bb;
}

.subtitulo-tratamento {
    font-size: 1.1em;
    color: #73e3ff;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 90px;
}

.titulo-tratamento {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.descricao-tratamento {
    color: #CED4FF;
    font-size: 1em;
}

.box-tratamento {
    height: auto;
    width: auto;
    background-color: #1b47a1;
    margin-top: 40px;
    margin-bottom: 80px;
    color: white;
    padding: 38px 40px 38px 40px;
    font-size: 0.9em;
}

.imagem-principal-protecao {
    height: 420px;
}

.imagem-medidas-protecao {
    border-radius: 100%;
    border: 2px solid #2a81ea;
    height: 85px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.texto-protecao {
    color: #2a81ea;
    font-size: 0.9em;
    margin-top: 40px;
}

.fa-times-circle {
    color: #f86168 !important;
    background-color: white !important;
    font-size: 1.5em;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    right: 55px;
}

.check-protecao {
    color: #3dca93;
    background-color: white;
    font-size: 1.45em;
    border-radius: 100%;
    position: absolute;
    left: 55px;
    top: 9px;
}

.pontilhado-protecao-1 {
    width: 115px;
    border-bottom: 1px dashed #7fb3f2;
    position: absolute;
    top: 50%;
    right: -118px;
    display: none;
}

.pontilhado-protecao-2 {
    width: 115px;
    border-bottom: 1px dashed #7fb3f2;
    position: absolute;
    top: 50%;
    left: -118px;
    display: none;
}

.conteudo-protecao-left {
    display: flex;
    justify-content: flex-end;
}

.conteudo-protecao-right {
    display: flex;
    justify-content: flex-start;
}

.link-card-news {
    color: #3d4b69;
    text-decoration: none !important;
    font-size: 1.16em !important;
    font-weight: 500;
}
.link-card-news:hover {
    color: #2a81ea;
}

.bg-footer {
    background-color: #151c2e;
}

.bg-corona-footer {
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-c.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texto-footer {
    color: #b2bfe0;
    font-size: 0.9em;
}

.icone-footer {
    color: white;
    background: #50658e;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
    margin-right: 10px;
    font-size: 0.85em;
    cursor: pointer;
}

.icone-footer:hover {
    background-color: #2a81ea;
}

.titulo-footer {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
}

.link-footer {
    color: #b2bfe0;
    font-size: 0.89em;
    text-decoration: none !important;
}

.link-footer:hover {
    color: #2a81ea;
}

.divisao-footer {
    border-top: 1px solid rgba(247,248,255,0.1);
    width: 100%;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.link-faq {
    text-decoration: none !important;
    color: #50658e;
    font-size: 1em;
}

.link-faq:hover {
    color: #2a81ea !important;
}

.fa-angle-right {
    color: #7eb3f2;
    position: absolute;
    top: 15px;
    right: 15px;
}

.fa-angle-right:hover {
    color: #2a81ea;
}

.div-box-perguntas {
    width: 100%;
    border: 1px solid #e7e8ff;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    position: relative;
    text-align: left;
    margin-bottom: 12px;
}

.div-box-perguntas:hover {
    border: 2px solid #2a81ea;
}

.div-borda-perguntas {
    border: 1px solid #e7e8ff;
    border-radius: 3px;
}

.div-titulo-perguntas {
    color: #2a81ea;
    font-size: 1em !important;
    padding: 30px 30px 24px 30px; 
    position: relative;
}

.link-2-faq {
    text-decoration: none !important;
    color: #007bff;
}

.link-2-faq:hover {
    color: #50658e;
}

.div-texto-perguntas{
    padding: 0px 30px 24px 30px;
}

.fa-minus {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #7eb3f2;
}

.display-none {
    display: none;
}

.menu-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-bottom: 30px;
}

.pt-md-bg-corona {
    padding-top: 110px;
}

@media (max-width: 330px) {

    .btn-fechar-menu-mobile {
        position: absolute;
        right: 5px;
        top: 32px;
    }

    .imagem-sintomas-home {
        position: unset !important;
        width: 100%;
        margin-top: unset !important;
    }

    .d2-home {
        height: 280px;
    }

    .titulo-home {
        font-size: 3.45em;
    }

    .titulo-sm-vermelho {
        font-size: 1.1em;
        letter-spacing: 0px;
        margin-top: 14px;
        padding-left: 3px;
    }

    .titulo-sm-azul {
        font-size: 1.87em;
        margin-top: -25px;
        letter-spacing: -1px;
        padding-left: 3px;
    }

    .btn-home {
        margin-top: unset !important;
        width: auto;
        padding: 10px 20px 10px 20px;
        font-size: 0.8em;
        margin-left: 5px;
        margin-right: 10px;
    }

    .btn-about {
        margin-top: unset !important;
        font-size: 0.8em;
        text-align: left;
        margin-left: 10px;
    }

    .h6-home {
        letter-spacing: 0px;
        font-size: 0.8em;
        margin-top: 25px;
    }

    .numeros-home {
        font-size: 1.5em;
    }

    .bg-corona-home{
        height: 980px;
    }

    .card-about {
        margin-left: unset !important;
        margin-top: 20px;
        margin-bottom: 50px;
        width: auto;
    }

    .list-group-item {
        padding: 19px 12px 19px 12px !important; 
    }

    .subtitulo-sections {
        margin-top: 50px;
        font-size: 0.75em;
    }

    .titulo-sections {
        font-size: 2.28em;
    }

   .btn-sections {
    padding: 9px 20px 9px 20px;
    margin-top: 15px;
    margin-bottom: 70px;
    font-size: 0.8em;
    width: auto;
    height: auto;
    }
    
    .card-transmissao {
        margin-top: 15px;
        margin-bottom: 15px;
        width: auto;
    }
    
    
    .card-sintomas {
        width: auto;
        height: auto;
        margin-top: 50px;
        margin-bottom: 7px;
    }
    
    .imagem-sintomas {
        height: 60px;
        right: 30px;
        top: -30px;
    }
    
    .fa-exclamation-triangle {
        font-size: 1.5em;
        top: 7px;
        left: 14px;
    }
    
    .descricao-sections {
        font-size: 0.96em;
    }
    .fa-exclamation-triangle {
        font-size: 1.4em;
        top: 7px;
        left: 5px;
    }

    .link-prevencao {
        text-align: center;
        font-size: 0.8em;
    }

    .btn-prevencao-azul {
        width: 200px;
        font-size: 0.7em;
    }

    .box-medidas-prevencao {
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px;
    }

    .imagem-medidas-prevencao {
        height: 280px;
        margin-top: 10px;
    }

    .titulo-medidas-prevencao {
        font-size: 1.4em !important;
    }

    .subtitulo-tratamento {
        margin-top: 50px;
    }

    .box-tratamento {
        margin-bottom: 50px;
    }

    .imagem-principal-protecao {
        height: 190px;
        margin-top: -30px;
        margin-bottom: 30px;
    }  

    .div-imagem-protecao {
        order: 0 !important;
    }
    
    .texto-protecao {
        order: 1 !important;
        font-size: 0.7em;
        margin-top: unset;
        margin-bottom: 20px;
    }

    .conteudo-protecao-right {
        flex-direction: column;
        text-align: center;
    }
    .conteudo-protecao-left {
        flex-direction: column;
        text-align: center;
    }

    .fa-times-circle {
        right: 58%;
    }

    .check-protecao {
        left: 58%;
    }

    .titulo-footer {
        margin-top: 40px;
    }

    .link-faq {
        font-size: 0.75em;
        padding: 13px 8px 13px 8px;
    }
}


@media (max-width: 425px) and (min-width:  331px) {

    .imagem-logo {
        margin-left: 5px;
    }

    .fa-bars {
        margin-right: 5px;
    }

    .btn-fechar-menu-mobile {
        position: absolute;
        right: 10px;
        top: 32px;
    }

    .imagem-sintomas-home {
        position: unset !important;
        height: 240px;
        margin-top: unset !important;
    }

    .display-flex {
        display: inline-block;
    }

    .d2-home {
        height: 350px;
    }

    .titulo-home {
        font-size: 3.45em;
    }

    .titulo-sm-vermelho {
        font-size: 1.1em;
        letter-spacing: 0px;
        margin-top: 14px;
        padding-left: 3px;
    }

    .titulo-sm-azul {
        font-size: 1.87em;
        margin-top: -25px;
        letter-spacing: -1px;
        padding-left: 3px;
    }

    .btn-home {
        width: auto;
        padding: 10px 20px 10px 20px;
        font-size: 0.8em;
    }

    .btn-about {
        font-size: 0.8em;
        text-align: left;
    }

    .h6-home {
        letter-spacing: 0px;
        font-size: 0.8em;
        margin-top: 25px;
    }

    .numeros-home {
        font-size: 1.5em;
    }

    .bg-corona-home{
        height: 940px;
    }

    .card-about {
        margin-left: unset !important;
        margin-top: 20px;
        margin-bottom: 50px;
        width: auto;
    }

    .list-group-item {
        padding: 19px 12px 19px 12px !important; 
    }

    .subtitulo-sections {
        font-size: 0.8em;
        margin-top: 30px;
    }

   .card-transmissao {
       margin-top: 15px;
       margin-bottom: 15px;
       width: auto;
   }

   .btn-sections {
       padding: 8px 20px 8px 20px;
       margin-top: 30px;
       margin-bottom: 50px;
       font-size: 0.8em;
    }

    .card-sintomas {
        width: auto;
        height: auto;
        margin-top: 50px;
        margin-bottom: 7px;
    }

    .imagem-sintomas {
        height: 60px;
        right: 30px;
        top: -30px;
    }
    
    .fa-exclamation-triangle {
        font-size: 1.5em;
        top: 7px;
        left: 7px;
    }

    .descricao-sections {
        font-size: 0.96em;
    }

    .link-prevencao {
        text-align: center;
        font-size: 0.8em;
    }

    .btn-prevencao-azul {
        width: 220px;
        font-size: 0.8em;
    }

    .imagem-medidas-prevencao {
        height: 300px;
        margin-top: 10px;
    }

    .titulo-medidas-prevencao {
        font-size: 1.5em !important;
    }

    .box-medidas-prevencao {
        margin-left: 15px;
        margin-right: 15px;
    }

    .subtitulo-tratamento {
        margin-top: 50px;
    }

    .box-tratamento {
        margin-bottom: 50px;
    }

    .imagem-principal-protecao {
        height: 245px;
        margin-top: -20px;
        margin-bottom: 40px;
    }  

    .div-imagem-protecao {
        order: 0 !important;
    }
    
    .texto-protecao {
        order: 1 !important;
        font-size: 0.8em;
        margin-top: unset;
        margin-bottom: 20px;
    }

    .conteudo-protecao-right {
        flex-direction: column;
        text-align: center;
    }
    .conteudo-protecao-left {
        flex-direction: column;
        text-align: center;
    }

    .fa-times-circle {
        right: 58%;
    }

    .check-protecao {
        left: 58%;
    }

    .bg-corona-footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .titulo-footer {
        margin-top: 40px;
    }

    .link-faq {
        font-size: 0.8em;
        padding: 13px 8px 13px 8px;
    }
}

@media (max-width: 575px) and (min-width:  426px) {

    .btn-fechar-menu-mobile {
        position: absolute;
        right: 22px;
        top: 32px;
    }

    .imagem-sintomas-home {
        position: unset !important;
        height: 325px;
        margin-top: unset !important;
    }

    .d2-home {
        height: 350px;
    }

    .container-mobile{
        max-width: 414px;
    }

    .titulo-home {
        font-size: 3.45em;
    }

    .titulo-sm-vermelho {
        font-size: 1.1em;
        letter-spacing: 0px;
        margin-top: 14px;
        padding-left: 3px;
    }

    .titulo-sm-azul {
        font-size: 1.87em;
        margin-top: -25px;
        letter-spacing: -1px;
        padding-left: 3px;
    }

    .btn-home {
        width: 152px;
        padding: 10px 20px 10px 20px;
        font-size: 0.8em;
    }

    .btn-about {
        font-size: 0.8em;
        margin-left: -30px;
    }

    .h6-home {
        letter-spacing: 0px;
        font-size: 0.8em;
        margin-top: 25px;
    }
    .numeros-home {
        font-size: 1.5em;
    }

    .bg-corona-home{
        height: 940px;
    }

    .card-about {
        margin-left: unset !important;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 385px;
    }

    .descricao-about-1 {
        font-size: 1.18em;
    }

    .subtitulo-sections {
        font-size: 0.8em;
        margin-top: 30px;
    }

    .card-transmissao {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 385px !important;
    }

    .btn-sections {
        padding: 8px 20px 8px 20px;
        margin-top: 15px;
        margin-bottom: 50px;
        font-size: 0.8em;
    }

    .card-sintomas {
        width: 384px;
        height: 195px;
        margin-top: 50px;
        margin-bottom: 7px;
    }

    .imagem-sintomas {
        height: 60px;
        right: 30px;
        top: -30px;
    }

    .link-prevencao {
        text-align: center;
        font-size: 0.8em;
    }

    .btn-prevencao-azul {
        width: 220px;
        font-size: 0.8em;
    }

    .fa-exclamation-triangle {
        font-size: 1.9em;
        top: 8px;
    }

    .imagem-medidas-prevencao {
        height: 465px;
        margin-top: 10px;
    }

    .titulo-medidas-prevencao {
        font-size: 1.5em;
    }

    .imagem-maos {
        height: 100px;
    }

    .subtitulo-tratamento {
        margin-top: 60px;
    }

    .box-tratamento {
        margin-bottom: 60px;
    }

    .imagem-principal-protecao {
        height: 300px;
        margin-top: -20px;
        margin-bottom: 40px;
    }  

    .div-imagem-protecao {
        order: 0 !important;
    }
    
    .texto-protecao {
        order: 1 !important;
        margin-top: unset;
        margin-bottom: 20px;
    }

    .conteudo-protecao-right {
        flex-direction: column;
        text-align: center;
    }
    .conteudo-protecao-left {
        flex-direction: column;
        text-align: center;
    }

    .fa-times-circle {
        right: 105px;
    }
    
    .check-protecao {
        left: 105px;
    }

    .bg-corona-footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .titulo-footer {
        margin-top: 40px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {

    .pt-md-bg-corona {
        padding-top: 120px;
    }

    .btn-fechar-menu-mobile {
        position: absolute;
        right: 28px;
        top: 32px;
    }

    .imagem-sintomas-home {
        position: unset !important;
        height: 340px;
        margin-top: 20px;
    }

    .pt-home{
        padding-top: 55px;
    }

    .bg-corona-home{
        height: 960px;
    }

    .subtitulo-sections {
        margin-top: 80px;
    }

    .card-about {
        margin-left: unset !important;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 510px;
    }

    .descricao-about-1 {
        font-size: 1.18em;
    }

    .card-transmissao {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 420px !important;
    }

    .btn-sections {
        margin-top: 20px;
    }

    .card-sintomas {
        width: 420px;
        height: auto;
        margin-top: unset !important;
    }

    .link-prevencao {
        padding-left: 50px;
    }

    .imagem-medidas-prevencao {
        height: 490px;
        margin-top: 20px;
    }

    .imagem-principal-protecao {
        height: 400px;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .pt-md-bg-corona {
        padding-top: 140px;
    }

    .btn-header {
        margin-top: 8px;
        margin-left: 17px;
    }
       
    .btn-fechar-menu-mobile {
        position: absolute;
        right: 62px;
        top: 32px;
    }

    .imagem-sintomas-home {
        position: unset !important;
        height: 340px;
        margin-top: 20px;
    }

    .pt-home{
        padding-top: 50px;
    }

    .bg-corona-home{
        height: 960px;
    }

    .card-about {
        margin-left: 0px;
        margin-top: 30px;
        width: 690px;
    }

    .list-group-item {
        padding: 18px 24px 18px 24px !important; 
    }

    .titulo-sections {
        font-size: 2.4em;
    }
    
    .descricao-sections {
        font-size: 0.98em;
    }

    .card-transmissao {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 450px !important;
    }

    .card-sintomas {
        width: 450px;
        height: 180px;
        margin-top: unset !important;
    }

    .imagem-medidas-prevencao {
        height: 550px;
        margin-top: 20px;
    }

    .imagem-principal-protecao {
        height: 350px;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    
    .link-menu{
        padding: 0px 9px;
    }
    
    .menu-monitor {
        display: block !important;
    }

    .btn-abrir-menu-mobile {
        display: none !important;
    }

    .bg-corona-home{
        margin-top: -120px;
    }

    .btn-abrir-menu-mobile {
        display: none !important;
    }

    .imagem-sintomas-home {
        position: absolute;
        top: 60px;
        right: -14px;
        height: 460px;
    }

    .mt-titulo-home {
        margin-top: 80px;
    }

    .d1-home {
        order: 0;
    }
    
    .d2-home {
        order: 1;
        height: 445px;
    }

    .h6-home {
        font-size: 0.78em;
    }

    .card-about {
        margin-left: 23px;
    }

    .titulo-sections {
        font-size: 2.4em;
    }

    .descricao-about-1 {
        font-size: 1.23em !important;
    }

    .descricao-sections {
        font-size: 0.98em;
    }
    
    .list-group-item {
        padding: 18px 24px 18px 24px !important; 
    }

    .imagem-medidas-prevencao {
        height: 365px;
        margin-top: 100px;
    }

    .imagem-maos {
        height: 120px;
    }

    .subtitulo-tratamento {
        margin-top: 200px;
    }

    .box-tratamento {
        margin-top: 110px;
        margin-bottom: 80px;
    }

    .imagem-principal-protecao {
        height: 370px;
    }

    .imagem-medidas-protecao {
        height: 65px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .fa-times-circle {
        font-size: 1.4em;
        right: 42px;
    }
    
    .check-protecao {
        font-size: 1.35em;
        left: 43px;
    }

    .d1-protecao {
        order: 0;
    }
    
    .d2-protecao {
        order: 1;
    }
    
    .d3-protecao {
        order: 2;
    }

    .pontilhado-protecao-1 {
        display: block !important;
    }

    .pontilhado-protecao-2 {
        display: block !important;
    }
    
    .card-news {
        height: 410px;
        margin-top: unset;
    }

    .divisao-footer {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    .link-faq {
        font-size: 0.9em;
    }
}

@media (min-width: 1201px) {
   
    .menu-monitor {
        display: block !important;
    }

    .btn-abrir-menu-mobile {
        display: none !important;
    }

    .imagem-sintomas-home {
        position: absolute;
        top: 35px;
        right: -50px;
        height: 540px;
    }

    .mt-titulo-home {
        margin-top: 70px;
    }

    .btn-about {
        padding-top: 37px;
    }

    .h6-home {
        margin-top: 80px;
        font-size: 0.78em;
    }

    .btn-home {
        margin-top: 25px;
    }

    .numeros-home {
        margin-top: unset !important;
        font-size: 1.8em;
    }

    .titulo-sm-vermelho {
        font-size: 1.8em;
    }

    .titulo-sm-azul {
        font-size: 2.95em;
        margin-top: -36px;
        letter-spacing: -1px;
    }

    .titulo-home {
        font-size: 5.2em;
    }

    .d1-home {
        order: 0;
    }
    
    .d2-home {
        order: 1;
    }

    .imagem-maos {
        height: 120px;
    }

    .div-tratamento {
        padding-right: 110px;
    }
    
    .subtitulo-tratamento {
        margin-top: 200px;
    }

    .box-tratamento {
        margin-top: 110px;
        margin-bottom: 80px;
    }

    .d1-protecao {
        order: 0;
    }
    
    .d2-protecao {
        order: 1;
    }
    
    .d3-protecao {
        order: 2;
    }

    .pontilhado-protecao-1 {
        display: block !important;
    }

    .pontilhado-protecao-2 {
        display: block !important;
    }
      
    .card-news {
        margin-top: unset;
    }

    .divisao-footer {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .pr-texto-footer {
        padding-right: 275px;
    }
}